/.Rproj.user
*.bat
.Rhistory
cld.Rdata
*.txt
doc
Meta
vignettes/*_cache
vignettes/*.R
vignettes/*.html
tests/testthat/*.rds
/MixTVEM.r
/inst/REFERENCES.bib.bak
/inst/REFERENCES.bib.sav
/inst/REFERENCES.bib.sav.bak
/check.R
.Rproj.user
*.pdf
