library/
local/
cellar/
lock/
python/
staging/
/.Rproj.user
*.bat
.Rhistory
cld.Rdata
*.txt
/doc/
/Meta/
vignettes/*_cache
vignettes/*.R
vignettes/*.html
tests/testthat/*.rds
/MixTVEM.r
/check.R
.Rproj.user
*.pdf
*.bak
*.sav
*.tmp
check
nul
